name: first-workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: print hello and bye
        run: |
          echo "hello gagan!"
          echo "done!"
