name: test workflowwww
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: print greetings
        run: |
          echo "hi gagan"
          echo "bye gagan"
  
